doctype html
html(lang="en")
  head
    title Spend
    link(href='http://fonts.googleapis.com/css?family=Lato:300,400,500,600,700', rel='stylesheet' type='text/css')
    style.
        html {
            height: 100%;
        }
        body {
            height: 100%;
            font-family: "Lato", sans-serif;
        }
        input {
            border: none;
            border-bottom: 1px solid #d8d8d8;
            line-height: 40px;
            font-size: 20px;
            padding-bottom: 4px;
            margin-right: 10px;
            font-size: 20px;
            line-height: 1.2;
            text-align: left;
            outline-width: 0;
        }
        form {
            position: absolute;
            left: 30%;
            top: 50%;
            text-align: center;
        }
        .button {
            height: 20px;
            width: 20px;
            border-bottom: none;
            margin-bottom: -10px;
        }

  body
    form(action="add", method="post")
        input(type="text", name="number" placeholder="Code" autocomplete="off" required)
        input(type="email", name="email" placeholder="E-mail address" autocomplete="off" required)
        input(class="button" type="image", value="Submit" src="/plane.png")

    script.
        function getQueryVariable(variable) {
           var query = window.location.search.substring(1);
           var vars = query.split("&");
           for (var i=0;i<vars.length;i++) {
                   var pair = vars[i].split("=");
                   if(pair[0] == variable){return pair[1];}
           }
           return(false);
        }
        if (getQueryVariable('success')) {
            document.getElementById("success").innerHTML = "Success!";
        }
